<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load bootstrap5 %}

  {% bootstrap_css %}

  {% bootstrap_javascript %}

  {% bootstrap_messages %}
  <title>Search Nearest Hotel</title>
</head>

<body class="bg-light">
  {% block content %}

  <div class="container p-5">

    <!-- <form class="row g-3" method="get">
            <div class="col-md-6">
              <label for="your_name" class="form-label">your_name:</label>
              <input type="text" class="form-control" id="your_name">
            </div>
            
            <div class="col-md-6">
                <label for="inputEmail45" class="form-label">Longitude</label>
                <input type="number" class="form-control" id="inputEmail45">
              </div>
              
              <div class="col-md-6">
                <label for="inputEmail46" class="form-label">Radius</label>
                <input type="number" class="form-control" id="inputEmail46">
              </div>
            <div class="col-12">
                
              <input type="submit" class="btn btn-primary" value="submit">
              
            </div>
          </form> -->
    <div class="">
      
      <div class="w-50 mx-auto bg-secondary p-5 rounded-3">
        <h2 class="text-center text-white">Please Enter Data</h2>
        <form class="row g-3" action="{% url 'home' %}" method="get">
          {% csrf_token %}
          <div class="col-md-12">
            <label for="your_name" class="col-sm-2 col-form-label text-white ">Latitude</label>
            <input id="your_name" class="form-control" type="number" step=0.000000000001 
              name="Latitude" required>
          </div>
          <div class="col-md-12">
            <label for="inputEmail45" class="form-label text-white ">Longitude</label>
            <input type="number" step=0.000000000001  class="form-control" id="inputEmail45"
              name="Longitude" required>
          </div>
          <div class="col-md-12">
            <label for="hello" class="form-label text-white ">Radius</label>
            <input type="number" class="form-control" id="hello" step=0.000000000001 
              name="Radius" required>
          </div>
          <div class="">
            <input type="submit" class="btn btn-primary text-white shadow-lg" value="Submit">
          </div>
      </div>


      </form>
    </div>


  </div>


  {% endblock content %}
</body>

</html>